@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(assets/fonts/static/DMSans-Regular.ttf) format('truetype');
    }
    
    @font-face {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(assets/fonts/static/DMSans-Medium.ttf) format('truetype');
      }
      
    @font-face {
        font-family: 'DM Sans';
        font-style: italic;
        font-weight: 500;
        font-display: swap;
        src: url(assets/fonts/static/DMSans-MediumItalic.ttf) format('truetype');
      }
}
*{
  box-sizing: border-box;
}
body {
    @apply font-sans p-10 min-h-screen
}
h2 {
    @apply text-medium -tracking-widest
}

h1 {
  @apply text-big tracking-tight
}
h1, h2, h3 {
  @apply font-medium leading-none

}

div {
  @apply rounded-lg gap-4 py-4 flex flex-col justify-center items-center shadow-md
}

section {
  @apply grid grid-cols-main gap-8
}