@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(assets/fonts/static/DMSans-Regular.ttf) format('truetype');
    }
    
    @font-face {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(assets/fonts/static/DMSans-Medium.ttf) format('truetype');
      }
      
    @font-face {
        font-family: 'DM Sans';
        font-style: italic;
        font-weight: 500;
        font-display: swap;
        src: url(assets/fonts/static/DMSans-MediumItalic.ttf) format('truetype');
      }
}

body {
    @apply font-sans
}
h2 {
    @apply text-medium -tracking-widest
}

h1 {
  @apply text-big
}
h1, h2, h3 {
  @apply font-medium
}

